In [1]:
import tensorflow
import numpy as np
import pandas as pd
import sklearn
import nltk

INFO:tensorflow:Enabling eager execution
INFO:tensorflow:Enabling v2 tensorshape
INFO:tensorflow:Enabling resource variables
INFO:tensorflow:Enabling tensor equality
INFO:tensorflow:Enabling control flow v2

In [2]:
df = pd.read_csv("C:/Users/lawre/Downloads/archive (1)/training.1600000.processed.noemoticon.csv", delimiter=",", header=None)
df.columns = ["target","id","date","flag","user","text"]
df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [3]:
df["target"]=(df["target"]/4).astype(int)

In [4]:
df["flag"].unique

<bound method Series.unique of 0          NO_QUERY
1          NO_QUERY
2          NO_QUERY
3          NO_QUERY
4          NO_QUERY
             ...
1599995    NO_QUERY
1599996    NO_QUERY
1599997    NO_QUERY
1599998    NO_QUERY
1599999    NO_QUERY
Name: flag, Length: 1600000, dtype: object>

In [5]:
df.drop(columns="flag")

,target,id,date,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...
1599995,1,2193601966,Tue Jun 16 08:40:49 PDT 2009,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,1,2193601969,Tue Jun 16 08:40:49 PDT 2009,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,1,2193601991,Tue Jun 16 08:40:49 PDT 2009,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,1,2193602064,Tue Jun 16 08:40:49 PDT 2009,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,1,2193602129,Tue Jun 16 08:40:50 PDT 2009,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [6]:
df["length"]=df["text"].str.split().apply(len)

In [7]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
df["text"]=df["text"].str.lower().apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [8]:
import re
df["text"]=df["text"].apply(lambda x: ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",x).split()))

In [9]:
df["text"]=df["text"].str.replace(r'\b\w\b','').str.replace(r'\s+', ' ')

<ipython-input-9-3d9a88b4e2e6>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["text"]=df["text"].str.replace(r'\b\w\b','').str.replace(r'\s+', ' ')

In [10]:
df["text"]=df["text"].str.replace(r'(\b|\w+)\d+(\b|\w+)','').str.replace(r'\s+', ' ')

<ipython-input-10-e01e0f458972>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["text"]=df["text"].str.replace(r'(\b|\w+)\d+(\b|\w+)','').str.replace(r'\s+', ' ')

In [11]:
df

,target,id,date,flag,user,text,length
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,awww that bummer shoulda got david carr third ...,19
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,upset can update facebook texting it might cry...,21
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,dived many times ball managed save rest go bounds,18
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,whole body feels itchy like fire,10
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,no behaving all mad here can see there,21
...,...,...,...,...,...,...,...
1599995,1,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,woke up school best feeling ever,11
1599996,1,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,thewdb com cool hear old walt interviews,11
1599997,1,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,ready mojo makeover ask details,11
1599998,1,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,happy birthday boo alll time tupac amaru shakur,12
1599999,1,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy charitytuesday,5

In [12]:
from nltk.tokenize import TweetTokenizer
tknzr = TweetTokenizer()

tokenized_tweet = df['text'].apply(lambda x: tknzr.tokenize(x))

tokenized_tweet.head(10)

0    [awww, that, bummer, shoulda, got, david, carr...
1    [upset, can, update, facebook, texting, it, mi...
2    [dived, many, times, ball, managed, save, rest...
3              [whole, body, feels, itchy, like, fire]
4      [no, behaving, all, mad, here, can, see, there]
5                                        [whole, crew]
6                                          [need, hug]
7    [hey, long, time, see, yes, rains, bit, only, ...
8                                               [nope]
9                                         [que, muera]
Name: text, dtype: object

In [13]:
from nltk import PorterStemmer

ps = PorterStemmer()

tokenized_tweet = tokenized_tweet.apply(lambda x: [ps.stem(i) for i in x])

tokenized_tweet.head()

0    [awww, that, bummer, shoulda, got, david, carr...
1    [upset, can, updat, facebook, text, it, might,...
2    [dive, mani, time, ball, manag, save, rest, go...
3               [whole, bodi, feel, itchi, like, fire]
4         [no, behav, all, mad, here, can, see, there]
Name: text, dtype: object

In [14]:
df["tokenized"] = tokenized_tweet

In [15]:
df["tokenized"]

0          [awww, that, bummer, shoulda, got, david, carr...
1          [upset, can, updat, facebook, text, it, might,...
2          [dive, mani, time, ball, manag, save, rest, go...
3                     [whole, bodi, feel, itchi, like, fire]
4               [no, behav, all, mad, here, can, see, there]
                                 ...
1599995                 [woke, up, school, best, feel, ever]
1599996      [thewdb, com, cool, hear, old, walt, interview]
1599997                   [readi, mojo, makeov, ask, detail]
1599998    [happi, birthday, boo, alll, time, tupac, amar...
1599999                              [happi, charitytuesday]
Name: tokenized, Length: 1600000, dtype: object

In [16]:
for i in range(len(tokenized_tweet)):
    tokenized_tweet[i] = ' '.join(tokenized_tweet[i])

df['text_cleaned'] = tokenized_tweet
df.head()

,target,id,date,flag,user,text,length,tokenized,text_cleaned
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,awww that bummer shoulda got david carr third ...,19,"[awww, that, bummer, shoulda, got, david, carr...",awww that bummer shoulda got david carr third ...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,upset can update facebook texting it might cry...,21,"[upset, can, updat, facebook, text, it, might,...",upset can updat facebook text it might cri res...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,dived many times ball managed save rest go bounds,18,"[dive, mani, time, ball, manag, save, rest, go...",dive mani time ball manag save rest go bound
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,whole body feels itchy like fire,10,"[whole, bodi, feel, itchi, like, fire]",whole bodi feel itchi like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,no behaving all mad here can see there,21,"[no, behav, all, mad, here, can, see, there]",no behav all mad here can see there

In [17]:
df['text_cleaned']

0          awww that bummer shoulda got david carr third ...
1          upset can updat facebook text it might cri res...
2               dive mani time ball manag save rest go bound
3                            whole bodi feel itchi like fire
4                        no behav all mad here can see there
                                 ...
1599995                        woke up school best feel ever
1599996              thewdb com cool hear old walt interview
1599997                         readi mojo makeov ask detail
1599998      happi birthday boo alll time tupac amaru shakur
1599999                                 happi charitytuesday
Name: text_cleaned, Length: 1600000, dtype: object

In [18]:
train=df.sample(frac=0.9,random_state=42) #random state is a seed value
test=df.drop(train.index)

In [19]:
train.to_csv("C:/Users/lawre/Downloads/archive (1)/train.csv",sep=',',index=False)
test.to_csv("C:/Users/lawre/Downloads/archive (1)/test.csv",sep=',',index=False)

In [20]:
train = pd.read_csv("C:/Users/lawre/Downloads/archive (1)/train.csv", delimiter=",", header=1)
train.columns = ["target","id","date","flag","user","text","length","tokenized", "text_cleaned"]
test = pd.read_csv("C:/Users/lawre/Downloads/archive (1)/test.csv", delimiter=",", header=1)
test.columns = ["target","id","date","flag","user","text","length","tokenized", "text_cleaned"]

In [21]:
combined = [test,train]
combined=pd.concat(combined)
train=combined.sample(frac=0.9,random_state=1234) #random state is a seed value
test=combined.drop(train.index)

In [22]:
train["text_cleaned"].replace('',np.nan,inplace=True)
train.dropna(subset=['text_cleaned'],inplace=True)
test["text_cleaned"].replace('',np.nan,inplace=True)
test.dropna(subset=['text_cleaned'],inplace=True)
pureTrain=train[["target","text_cleaned"]]
pureTest=test[["target","text_cleaned"]]

C:\Users\lawre\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
<ipython-input-22-4d914c5a56f0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.dropna(subset=['text_cleaned'],inplace=True)

In [23]:
knownWords= dict()
for index,row in pureTrain.iterrows():
    split = row["text_cleaned"].split(" ")
    for word in split:
        if word in knownWords:
            knownWords[word][row["target"]]+=1
        else:
            if row["target"]==1:
                knownWords[word]=[0,1]
            else:
                knownWords[word]=[1,0]

In [24]:
for word in knownWords:
    knownWords[word][0]=knownWords[word][0]/(knownWords[word][0]+knownWords[word][1])
    knownWords[word][1]=1-knownWords[word][0]

In [25]:
def predict (row):
    sum0 = 0
    numWords = 0
    split = row["text_cleaned"].split(" ")
    for word in split:
        if word in knownWords:
            sum0+=knownWords[word][0]
            numWords+=1
    #assume negative if no match (default value is positive)
    if numWords==0:
        return 1
    #if there is matching words and probability = .5 we assume negative
    else:
        if sum0/numWords >= .5:
            return 0
        else:
            return 1

In [26]:
pureTest["predictions"] = pureTest.apply (lambda row: predict(row), axis=1)

<ipython-input-26-b7c46005f4ae>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pureTest["predictions"] = pureTest.apply (lambda row: predict(row), axis=1)

In [27]:
from sklearn.metrics import precision_recall_fscore_support
x = precision_recall_fscore_support(pureTest["target"].to_numpy(), pureTest["predictions"].to_numpy(), average='micro')
print("Percision = " + str(x[0])+'\n'+"Recall = " + str(x[1])+'\n'+"fMeasure = " + str(x[2])+'\n')
x

Percision = 0.7593054951096044
Recall = 0.7593054951096044
fMeasure = 0.7593054951096044

(0.7593054951096044, 0.7593054951096044, 0.7593054951096044, None)