In [50]:
import tensorflow
import numpy as np
import pandas as pd
import sklearn
import nltk

In [51]:
df = pd.read_csv("./training.1600000.processed.noemoticon.csv", delimiter=",", header=None)
df.columns = ["target","id","date","flag","user","text"]
df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Thi..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by texting it... and might cry as a result School to...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you a..."

In [52]:
df["target"]=(df["target"]/4).astype(int)

In [53]:
df["flag"].unique

<bound method Series.unique of 0          NO_QUERY
1          NO_QUERY
2          NO_QUERY
3          NO_QUERY
4          NO_QUERY
             ...
1599995    NO_QUERY
1599996    NO_QUERY
1599997    NO_QUERY
1599998    NO_QUERY
1599999    NO_QUERY
Name: flag, Length: 1600000, dtype: object>

In [54]:
df.drop(columns="flag")

,target,id,date,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Thi..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by texting it... and might cry as a result School to...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you a..."
...,...,...,...,...,...
1599995,1,2193601966,Tue Jun 16 08:40:49 PDT 2009,AmandaMarie1028,Just woke up. Having no school is the best feeling ever
1599996,1,2193601969,Tue Jun 16 08:40:49 PDT 2009,TheWDBoards,TheWDB.com - Very cool to hear old Walt interviews! ♫ http://blip.fm/~8bmta
1599997,1,2193601991,Tue Jun 16 08:40:49 PDT 2009,bpbabe,Are you ready for your MoJo Makeover? Ask me for details
1599998,1,2193602064,Tue Jun 16 08:40:49 PDT 2009,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! Tupac Amaru Shakur
1599999,1,2193602129,Tue Jun 16 08:40:50 PDT 2009,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H

In [55]:
df["length"]=df["text"].str.split().apply(len)

In [56]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
df["text"]=df["text"].str.lower().apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [57]:
import re
df["text"]=df["text"].apply(lambda x: ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",x).split()))

In [58]:
df["text"]=df["text"].str.replace(r'\b\w\b','').str.replace(r'\s+', ' ')

<ipython-input-58-3d9a88b4e2e6>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["text"]=df["text"].str.replace(r'\b\w\b','').str.replace(r'\s+', ' ')

In [60]:
df["text"]=df["text"].str.split(" ")

In [61]:
df

,target,id,date,flag,user,text,length
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"[awww, that, bummer, shoulda, got, david, carr, third, day, it, ]",19
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,"[upset, can, update, facebook, texting, it, might, cry, result, school, today, also, blah]",21
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,"[dived, many, times, ball, managed, save, 50, rest, go, bounds]",18
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,"[whole, body, feels, itchy, like, fire]",10
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"[no, behaving, all, mad, here, can, see, there]",21
...,...,...,...,...,...,...,...
1599995,1,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,"[woke, up, school, best, feeling, ever]",11
1599996,1,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,"[thewdb, com, cool, hear, old, walt, interviews]",11
1599997,1,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,"[ready, mojo, makeover, ask, details]",11
1599998,1,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,"[happy, 38th, birthday, boo, alll, time, tupac, amaru, shakur]",12
1599999,1,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,"[happy, charitytuesday]",5